html{
    scroll-behavior: smooth;
}
.abc :hover{
    color: rgb(255, 94, 0);
}
.container{
    margin-top: 30px;
    margin-bottom: 20px;
}
.slide {
    margin-top: 110px;
}
.slider-product-png{
    height: 331px;
    width: 90px;
}
.left-side img {
    transition: .3s;
  }
  
  .left-side img:hover {
    transform: scale(1.05);
  }

#home {
    background-image: url(images/banner-products/bg2.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.btn-design{
    background-color: black;
    color:white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.carousel-indicators li{
    background-image: linear-gradient(rgb(236, 240, 17), rgb(241, 109, 21));
    height: 6px;
    border-radius: 11px;
}
.ancor-color a{
    color: rgb(255, 94, 0);
}
.card{
    padding: 40px 20px;
    border: none;
    box-shadow: 4px 3px 7px #b2a5a5;
    border-radius: 5px;
}
.card img {
    transition: .3s;
  }
  
  .card img:hover {
    transform: scale(1.05);
  }
  .ancor-color a{text-decoration: none;}
  .see-all{
      font-size: 20px;
      transition: .3s;
  }
  .see-all:hover {
    border-bottom: 2px solid #FF9D00;
  }
.uderline-small{
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
  }
  .uderline-small::after{
    content:'';
    height: 5px;
    width: 120px;
    background-color: orange;
    position: absolute;
    left: 45%;
    bottom: 0%;
    border-radius: 30px;
  }
.pale-order img{
    width: 100%;
  }
.img-border {
    box-shadow: 3px 3px 20px 0px rgb(178, 167, 167);
    padding: 30px 40px 20px 40px;
    margin: 20px;
   
    
}
.categories-image{
    transition: .3s;
}
.categories-image:hover{
    transform: scale(1.1);
}
.img-border p{
    padding-top: 20px;
}
.row{
    padding-bottom: 20px;
}
.pole-order img{
    width: 100%;
}

.border-img{
    width: 100px;
    height: 7px;
    border-radius: 10px;
}
#subscribers{
    height: 200px;
    background-color: #fcf0f4;
    border-radius: 10px;
}
.icon-centre img{
    width: 3%;
    padding: 3px;
}
.centre img{
    width: 25%;
    padding-right: 10px;
    padding-bottom: 10px;
}
#contact{
    text-align: center;
}
.form-control{
    margin: 15px 0px;
}
.buy-now-btn {
    transition: .3s;
  }
  
  .buy-now-btn:hover {
    background-color: #374048;
    transform: scale(1.1);
  }
  .coustomers{
      border-radius: 50%;
  }
  
.footer {
    padding-top: 20px;
    background-color: #33352ea1;
    color: white;
    border-radius: 10px;
}

.customer-review{
    background-color: #fcf0f4;
    border-radius: 10px;
}
#ul  li a{
    color: whitesmoke;
}
#copy-right{
    color: black;
    margin-bottom: 0;
}